body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: black;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(109, 108, 108, 0.742);
    padding: 10px;
    width: 400px;
}

.title {
    text-align: left;
    padding-left: 10px;
    font-family: "Brush Script MT", monospace, sans-serif;
    font-size: 15px;
}

.display {
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: right;
    background-color: white;
    font-size: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
}

button {
    width: 70px;
    height: 40px;
    color: white;
    border-color: white;
    border-radius: 10px;
    border-width: 1px;
    font-family: "Courier New", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
    background-color: green;
}


#add, #subtract, #multiply, #divide, #equal {
    background-color: rgba(84, 26, 242, 0.714);
}

#del, #ac {
    background-color: red;
}

#dot, #equal {
    width: 140px;
}


.footer {
    color: white;
    margin-bottom: 20px;
}

.footer a {
    text-decoration: none;
    color: grey;
}